.todo {
    margin: 2em auto;
    max-width: 740px;
}
.todo-text {
    display: block;
}

.badge {
    display: inline-block;
}

.done {
    text-decoration: line-through;
    cursor: not-allowed;
    pointer-events: none;
}