<header class="app-header">
    <div class="app-header__col">
        <div class="container">
            <svg class="app-icon app-icon--menu">
                <use xlink:href="#burger-menu" />
            </svg>
            <h1 class="display-1 app-title">{{appTitle}}</h1>
            <p class="lead app-sub-title">Keeping you on your toes</p>
            <h4 class="app-today-date">
                <!-- Jul 21, 2018 -->
                {{today}}
            </h4>
        </div>
        <div class="app-header__col--dark">
            <div class="container">
                <div class="app-header__count__wrapper">
                    <div class="app-header__count__col">
                        <div class="app-header__count__col__wrapper">
                                <span class="count__text">24</span>
                                <span class="count__text count__text--category">Personal</span>
                        </div>
                        
                    </div>
                    <div class="app-header__count__col">
                            <div class="app-header__count__col__wrapper">
                                    <span class="count__text">24</span>
                                    <span class="count__text count__text--category">Business</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
